@import "variables";


@mixin header($fontColor,$fontWeight,$fontSize,$lineHeight:0){
    color:$fontColor;
    font-weight:$fontWeight;
    font-size:$fontSize;
    line-height:$lineHeight;
}

@mixin footer($height, $background, $padding, $width:100%){
    height:$height;
    background:$background;
    padding-top:$padding;
    width:$width;
}

@mixin backImage($img, $left){
    background:url($img);
    background-repeat: no-repeat;
    background-position: $left 0;
}

@mixin nav($width, $height, $float, $textAlign){
    width:$width;
    height:$height;
    float:$float;
    text-align:$textAlign;
}

@mixin logo($margin,$width, $height, $float){
    margin:$margin;
    height: $height;
    display: block;
    float: $float;
    width: $width;
}

@mixin contentArea($width, $margin){
    width: $width;
    margin:$margin;
}

@mixin adjustWidth($windowWidth){
    @media screen and (max-width: $windowWidth){
        @content;      
    }
}


