$white:#FFF;
$grey:#666;
$lightGrey:#F5F6F6;
$darkGrey:#30353D;
$links:#E65C43;
$red:#F25C43;
$font-body:'Roboto';
$full-width:940px;
$content-width:460px;
$height:190px;
$backgroundImg:'../images/bg.gif';
$logoImg:'../images/logo.png';
$socialMediaImg:'../images/social-media.png';
$basePixels:30px;

