@import "navigation","variables", "headerFooter", "normalize";


body{
        font-family: $font-body;
        font-size:1em;
        line-height:2em;
        background:url($backgroundImg) $white repeat-x;
        margin:0;
}

main{
    width:$full-width;
    margin:0 auto;
    padding:0 10px;
    @include adjustWidth(959px) {width:768px;}
    @include adjustWidth(767px)	{width:$content-width;}
    @include adjustWidth(459px) {width:300px;}

}

figure{
    background:url($logoImg) no-repeat 0 50px;
    @include logo(0,400px,$height,left);
    @include adjustWidth(959px) {width:inherit;height:140px;float:none;background-position:center;}
    @include adjustWidth(459px) {background-size:contain;height:100px;}

}

select{
@include adjustWidth(459px) {width:95%;}
}

#content{
    @include contentArea($full-width, 20px auto);
    @include adjustWidth(959px)	{width:inherit;}

     #testimonials{
        width:$content-width;
        float:right;
        @include adjustWidth(959px){width:46%;margin:0 2%;}
        @include adjustWidth(767px) {width:96%;margin:0 2%;float:none;}
    }
    #products {
        width:$content-width;
        float:left;
        @include adjustWidth(959px){width:46%;margin:0 2%;}
        @include adjustWidth(767px) {width:96%;margin:0 2%;float:none;}

        img{
            float:left;
            margin-right:20px;
        }
        article{
            margin-bottom:40px;
            img {
                @include adjustWidth(459px)  {display:none;}
            }
        }
        h4{
            line-height:1em;
        }
    }
    h3{
        color:$grey;
        font-size:2em;
        font-weight:400;
        @include adjustWidth(459px) {font-size:1.6em;}
    }
    
}

#headline {
    width:100%;
    height:130px;
    background:$red;
    text-align:center;
    margin:0 auto;

    h1{
        color: $white;
        font-size:2.5em;
        font-weight:100;
        padding-top:50px;
        @include adjustWidth(767px) {font-size:2em;padding-top:50px;}
        @include adjustWidth(459px) {font-size:1.5em;padding-top:30px;}

    }
}

    



